*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none
    ;
}


.part1{
    background-color: white;
    height:40%;
}


h1{
    color: hsl(179, 62%, 43%);
    margin-top:50px;
    margin-left:50px;
    font-size: 35px;
}

.t1{
    color: hsl(71, 73%, 54%);
    margin-top:25px;
    margin-left:50px; 
    font-size: 25px;
}

.t2{
    color:   hsl(218, 22%, 67%);
    margin-top: 15px;
    max-width: 750px;
    margin-left:50px;
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.part2{
    background-color:hsl(179, 62%, 43%);
    width: 50%;
    height: 440px;
    margin-top: 50px;
    float: left;
}
.t3{
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 25px;
}
 .part3{
    margin-top: 50px;
    background-color:  skyblue;
    width: 50%;
    height: 440px;
    float: right;
    color: hsl(204, 43%, 93%);
} 
.t4{
    color: hsl(204, 43%, 93%);
    padding-left: 50px;
    padding-top: 40px;
    line-height: 35px;
    font-size: 20px;
}
span{
    font-size: 30px;
}

button{
    background-color:hsl(71, 73%, 54%) ;
    width: 300px;
    height: 40px;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}
.t5{
    margin: 40px;
    font-size: 25px;
}
ol{
    margin-left:40px;
    line-height: 1.5;
}